body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #222222, #007bff);
  background-repeat: no-repeat; /* Prevent background color from repeating */
}

.chat-container {
  max-width: 400px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffff;
  
}

#chat-display {
  min-height: 200px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  overflow-y: auto;
  font-size: 16px;
  color: #000000; /* Neon blue font color */
}

#user-input {
  width: calc(100% - 70px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  color: #000000; /* White font color */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #00ffff; /* Neon blue font color */
  margin-bottom: 20px;
}
